@font-face {
    font-family: Open Sans;
    font-weight: 700;
    src: url(OpenSans-Bold.ttf);
}

@font-face {
    font-family: Open Sans;
    font-weight: 400;
    src: url(OpenSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image:url(football_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
  background-size: cover;
  background-color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}

.header-logo {
  text-align: center;
}

.logo-image {
  width: 132px;
  margin: 32px auto 20px; 
  position: relative;
  z-index: 2;
}

.header-title {
  position: relative;
  z-index: 2;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 116px auto 0;
  box-sizing: border-box;
}

.subtitle {
   display: block;
   margin-top: 31px;
   padding-left: 44px;
   box-sizing: border-box;
}

.links {
    margin-top: 89px;
    margin-bottom: 84px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.google-play-svg, .apple-svg {
    width: 20px;
    height: 24px;
    margin-left: 30%;
    align-self: center;
}

.links-items {
    display: flex;
    height: 35px;
    width: 280px;
    background-color: #5e42b0;
    border-radius: 25px;
    border: none;
}

.links-items:first-child {
   margin-bottom: 15px;
}

.links-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-store-text-up,.google-play-text-up {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: regular;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 7px;
}

 .app-store-text-down , .google-play-text-down {
   font-family: Open Sans, Arial, sans-serif;
   font-weight: bold;
   font-size: 8px;
   color: #ffffff;
   text-transform: uppercase;  
   text-align: left;
   padding-left: 7px;
}

.athlets-section, .players-section {
  background-color: #ffffff;
  margin-bottom: 235px;
}

.athlets-main-title, .players-main-title {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase; 
  padding-left: 20px;
  padding-top: 13px;
  position: relative;
}

.athlets-main-title::after {
    content: url(footballer_192.png);
    position: absolute;
    z-index: 2;
    bottom: -296px;
    left: 50px;
}

.players-main-title::after {
    content: url(basketballer_302.png);
    position: absolute;
    z-index: 2;
    bottom: -263px;
    left: -10px;
}


.connection {
    background-color: #fafafa;
    min-height: 212px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.collaboration {
    background-color: #f5f4f9;
    min-height: 262px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.growth {
    min-height: 228px;
    background-color: #5e42b0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.athlets-title {
  padding: 60px 20px 0 20px;
  display: flex;
}

.numbers {
   margin-right: 10px;
   font-family: Open Sans, Arial, sans-serif;
   font-weight: bold;
   font-size: 14px;
   color: #000000;  
   position: relative;
}

.numbers::after {
    content: "";
    background-color: #5e42b0;
    position: absolute;
    width: 15px;
    height: 4px;
    border-radius: 25px;
    bottom: 5px;
    left: 0;
}

.growth .numbers::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 15px;
    height: 4px;
    border-radius: 25px;
    bottom: 5px; 
    left: 0;
}


.athlets-subtitle {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 23px;
  color: #c1c1c1;
  text-transform: uppercase;
}

.connection-paragraf,.collaboration-paragraf,.growth-paragraf {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: regular;
  font-size: 15px; 
  padding: 28px 20px 55px 20px;
}

.connection-paragraf,.collaboration-paragraf {
  color: #000000;
}

.growth-paragraf {
  color: #ffffff;
}

.be-active-image, .find-contact-image, .work-it-image, .be-active-picture, .find-contact-picture, .work-it-picture {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.be-active-image::after, .be-active-picture::after {
  content: "01";
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background-color: #5e42b0;
  position: absolute;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  padding-top: 25px;
  bottom: -10px;
  left: 20px;
}
    
.find-contact-image::after, .find-contact-picture::after {
  content: "02";
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background-color: #5e42b0;
  position: absolute;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  padding-top: 25px;
  bottom: -10px;
  left: 20px;
}
    
.work-it-image::after, .work-it-picture::after {
  content: "03";
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background-color: #5e42b0;
  position: absolute;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  padding-top: 25px;
  bottom: -10px;
  left: 20px;
}
    
.be-active-image::before,.find-contact-image::before, .work-it-image::before, .be-active-picture::before, .find-contact-picture::before, .work-it-picture::before {
  content: "";
  background-color: #8f7bc8;
  position: absolute;
  width: 15px;
  height: 4px;
  border-radius: 25px;
  z-index: 3;
  bottom: 10px;
  left: 47px;
}   

.be-active-container {
  min-height: 212px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.find-contact-container {
    min-height: 196px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.work-it-container {
    min-height: 225px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.be-active, .find-contact, .work-it {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px; 
  text-transform: uppercase;
  color: #e7e7e7;
  padding-top: 36px;
  padding-left: 20px;
}

.be-active-text, .find-contact-text,.work-it-text {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: regular;
  font-size: 16px;  
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.be-active-text, .find-contact-text {
  margin-bottom: 78px;
}

.work-it-text {
   margin-bottom: 67px; 
}

.welcome-down {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image:url(game_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
  background-size: cover;
  background-color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome-down::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}

.footer-logo {
  width: 57px;
  margin: 100px auto;
  position: relative;
  z-index: 2;
  padding: 10px 8px;
  background-color: #6c4dc6;
  border-radius: 15px;
}

.footer-title {
  position: relative;
  z-index: 2;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 60px auto;
  width: 280px;
  box-sizing: border-box;
  text-align: center;
}

.footer-subtitle {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: regular;
  font-size: 14px;
  color: #9b8ec1;
  text-transform: uppercase;
  display: block;
  padding-left: 4px;
}

@media(min-width:768px) and (max-width:960px){
    .welcome {
        background-image: url(football_1280.jpg);
    }
    
    .logo-image  {
      width: 205px;
    }

    .header-title {
        width: 100%;
        font-size: 64px;
        margin: 178px auto;
        padding-left: 80px;
    }
    
    .subtitle {
        padding-left: 105px;
    }
    
    .links {
      margin-top: 310px;
      margin-bottom: 88px;
    }
    
    .links-items {
      width: 310px;
      height: 75px;
      border-radius: 35px;
    }
    
    .links-items:nth-child(n + 2) {
      margin-left: 30px;
    }
    
    .google-play-svg, .apple-svg {
       width: 44px;
       height: 42px;
       margin-left: 15%;
    }
    
    .app-store-text-up,.google-play-text-up {
      font-size: 14px;
      padding-left: 28px; 
    }
    
    .app-store-text-down,.google-play-text-down {
      font-size: 14px;
      padding-left: 28px;
    }
    
    .athlets-section {
      min-height: 140px;
    }
    
    .players-section {
      min-height: 150px; 
    }
    
     .athlets-main-title, .players-main-title {
      font-family: Open Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 80px;
      padding-top: 85px;
    }

    .athlets-main-title, .athlets-title {
      padding-left: 283px;
    }

    .players .athlets-title{
      padding-left: 25px;
    }
    
    .athlets-main-title::after {
      content: url(footballer_497.png);
      top: 95px;
      left: 0;
    }
    
    .players-main-title::after {
       content: url(basketballer_436.png);
       top: 63px;
       left: 325px;
    }
    
    .numbers {
      margin-right: 12px;
      font-size: 18px;
    }

    .athlets-subtitle {
      font-size: 32px;
    }
    
    .connection-paragraf,.collaboration-paragraf,.growth-paragraf {
      font-size: 16px; 
      padding: 36px 20px 40px 283px;
    }

    .players .connection-paragraf,.players .collaboration-paragraf,.players .growth-paragraf {
      padding-left: 25px;
    }
    
    .active-contact-work {
      min-width: 768px;
    }
    
    .connection {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      min-height: 180px;
      background-color: #ffffff;
      padding-top: 42px;
    }
    
    .collaboration {
      min-height: 235px;
      padding-top: 42px;
    }
    
    .growth  {
      min-height: 178px;
      padding-top: 42px;
    }
    
    .be-active-container,.find-contact-container {
      min-height: 335px;
      position: relative;
    }
    
    .work-it-container {
      min-height: 370px;
    }
    
    .be-active-image, .find-contact-image, .work-it-image, .be-active-picture, .find-contact-picture, .work-it-picture {
      position: relative;   
    }
    
    .be-active-image::after, .be-active-picture::after {
      content: "01";
      font-family: Open Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      text-align: center;
      background-color: #5e42b0;
      position: absolute;
      width: 115px;
      height: 115px;
      box-sizing: border-box;
      padding-top: 35px;
      bottom: -36px;
      left: 30px;
    }
    
    .find-contact-image::after, .find-contact-picture::after {
      content: "02";
      font-family: Open Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      text-align: center;
      background-color: #5e42b0;
      position: absolute;
      width: 115px;
      height: 115px;
      box-sizing: border-box;
      padding-top: 35px;
      bottom: -36px;
      left: 30px;
    }
    
    .work-it-image::after, .work-it-picture::after {
      content: "03";
      font-family: Open Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      text-align: center;
      background-color: #5e42b0;
      position: absolute;
      width: 115px;
      height: 115px;
      box-sizing: border-box;
      padding-top: 35px;
      bottom: -36px;
      left: 30px;
    }
    
    .be-active-image::before,.find-contact-image::before, .work-it-image::before, .be-active-picture::before, .find-contact-picture::before, .work-it-picture::before {
      content: "";
      background-color: #8f7bc8;
      position: absolute;
      width: 28px;
      height: 5px;
      border-radius: 25px;
      z-index: 3;
      bottom: 5px;
      left: 72px;
    }
    
    .be-active, .find-contact, .work-it {
      font-size: 80px; 
      padding-top: 90px;
      padding-left: 30px;
    }
    
    .be-active-text, .find-contact-text,.work-it-text {
      font-size: 24px;  
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .be-active-text, .find-contact-text {
      margin-bottom: 103px;
    }

    .work-it-text {
      margin-bottom: 111px; 
    }

    .welcome-down {
      background-image: url(game_1280.jpg)
    }
    
    .footer-logo {
      width: 103px;
      margin: 127px auto;
      padding: 24px 15px;
    }

    .footer-title {
      font-size: 80px;
      margin: 80px auto;
      width: 703px;
    }

    .footer-subtitle {
      font-size: 36px;
      padding-left: 30px;
    }
}
    
    @media(min-width:961px) and (max-width:1920px) {
       .welcome {
        background-image: url(football_1920.jpg);
      }
        
        .logo-image {
        width: 192px;
      }
        
      .header-title {
        font-size: 90px;
        margin: 290px auto;
        width: 1530px;
      }
        
      .subtitle {
        padding-left: 450px;
      }
    
      .links {
        margin-top: 225px;
        margin-bottom: 108px;
      }
        
      .links-items {
        width: 310px;
        height: 75px;
        border-radius: 35px;
      }
    
      .links-items:nth-child(n + 2) {
        margin-left: 55px;
      }
        
      .google-play-svg, .apple-svg {
        width: 39px;
        height: 50px;
        margin-left: 12%;
      }
        
      .app-store-text-up,.google-play-text-up {
        font-size: 14px;
        padding-left: 28px; 
      }
    
      .app-store-text-down,.google-play-text-down {
        font-size: 14px;
        padding-left: 28px;
      }
       
      .athlets .collaboration, .athlets .connection, .athlets .growth  {
        padding-left: 52%;
      }
        
      .athlets .athlets-main-title {
         padding-left: 53%;
      }
          
      .athlets-section, .players-section  {
        min-height: 186px;
      }
      
      .athlets-main-title, .players-main-title {
        padding-top: 115px;
        font-size: 80px;
        position: relative;
        max-width: 900px;
      }
       
      .athlets-main-title::after {
        content: url(footballer_566.png);
        top: 30px;
        left: 20.52%;
      }

      .players-main-title {
        padding-left: 195px;
      }
    
      .players-main-title::after {
        content: url(basketballer_991.png);
        top:30px;
        left: 811px;
      }   
          
      .athlets-title {
        padding: 108px 15px 0 20px;
        max-width: 886px;
      }

      .players .athlets-title {
        padding-left: 195px;
      }
        
      .numbers {
        margin-right: 15px;
        padding-top: 7px;
        font-size: 18px;
        position: relative;
      }
        
      .numbers::after {
        content: "";
        background-color: #5e42b0;
        position: absolute;
        width: 20px;
        height: 4px;
        border-radius: 25px;
        bottom: 10px;
        left: 0;
      }

      .growth .numbers::after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 15px;
        height: 4px;
        border-radius: 25px;
        bottom: 5px; 
        left: 0;
      }
        
      .athlets-subtitle {
        font-size: 36px;
      }
      
      .connection-paragraf,.collaboration-paragraf,.growth-paragraf {
        font-size: 20px; 
        padding: 28px 20px 55px 20px;
        max-width: 750px;
      }

      .players .connection-paragraf,.players .collaboration-paragraf,.players .growth-paragraf {
        padding-left: 192px;
      }
    
      .connection {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-height: 223px;
        background-color: #ffffff;
      }
        
      .collaboration {
        min-height: 250px;
      }  
        
      .growth {
        min-height: 222px;
      }    
        
      .active-contact-work {
        display: flex;
        flex-wrap: wrap;
      }
       
      .active-container, .contact-container, .work-container {
        display: flex;
      }
        
      .contact-container {
        flex-direction: row-reverse;
      }
        
      .be-active-container,.find-contact-container,  .work-it-container {
        box-sizing: border-box;
        display: flex;
        max-width: 50%;
      }
        
      .be-active-container, .work-it-container {
        padding-left: 6.66%;
      }
        
      .find-contact-container {
        padding-left: 10%;
      }

      .image-container {
        max-width: 50%;
      }
        
      .be-active-image,.find-contact-image, .work-it-image, .be-active-picture, .find-contact-picture, .work-it-picture {
        max-width: 960px;
        position: relative;   
      }
         
     .be-active-image::after, .be-active-picture::after {
       content: "01";
       font-family: Open Sans, Arial, sans-serif;
       font-weight: bold;
       font-size: 24px;
       color: #ffffff;
       text-align: center;
       background-color: #5e42b0;
       position: absolute;
       width: 115px;
       height: 115px;
       box-sizing: border-box;
       padding-top: 35px;
       top: -460px;
       left: 905px;
       z-index: 2;
    }
    
    .find-contact-image::after, .find-contact-picture::after {
      content: "02";
      font-family: Open Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      text-align: center;
      background-color: #5e42b0;
      position: absolute;
      width: 115px;
      height: 115px;
      box-sizing: border-box;
      padding-top: 35px;
      top: -540px;
      left: -60px;
      z-index: 2;
    }
    
    .work-it-image::after, .work-it-picture::after {
      content: "03";
      font-family: Open Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      text-align: center;
      background-color: #5e42b0;
      position: absolute;
      width: 115px;
      height: 115px;
      box-sizing: border-box;
      padding-top: 35px;
      top: -540px;
      left: 905px;
      z-index: 2;
    }
    
    .be-active-image::before,.be-active-picture::before  {
      content: "";
      background-color: #8f7bc8;
      position: absolute;
      width: 28px;
      height: 5px;
      border-radius: 25px;
      z-index: 3;
      top: 0;
      left: 0;
    }

    .work-it-image::before .work-it-picture::before {
      content: "";
      background-color: #8f7bc8;
      position: absolute;
      width: 28px;
      height: 5px;
      border-radius: 25px;
      z-index: 3;
      top: 0;
      left: 0;
    }
    
     .find-contact-image::before, .find-contact-picture::before {
       content: "";
       background-color: #8f7bc8;
       position: absolute;
       width: 28px;
       height: 5px;
       border-radius: 25px;
       z-index: 3;
       top: 315px;
       left: 93px;         
     }
        
    .be-active, .work-it, .find-contact {
      font-size: 80px;
      padding-top: 240px;
    }

    .find-contact,.find-contact-text {
      padding-left: 0;
    }
   
    .find-contact-text {
      padding-right: 132px;
    }

    .be-active-text, .find-contact-text, .work-it-text {
      font-size: 24px;
      padding-top: 100px;
    } 
    
    .footer-logo-title {
        display: flex;
        justify-content: center;
    }
        
    .footer-title {
       font-size: 80px;
       width: 680px;
       margin: 230px 0 160px 35px;
    }
        
    .footer-subtitle {
        font-size: 30px;
        text-align: left;
        padding-left: 15px;
    }
        
    .footer-logo {
        width: 132px;
        height: 135px;
        margin: 230px 0 150px;
        border-radius: 35px;
        padding: 25px 20px;
    }
        
    footer .links {
         margin: 0 0 260px;
    }
        
     footer .logo-image {
         margin: 0 0 50px;
    }
  }