@font-face {
    font-family: Open Sans;
    src: url(OpenSans-Bold.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(OpenSans-Regular.ttf);
}

* {
    margin: 0;
    padding: :0;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  background-image:url(football_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
  background-size: cover;
  background-color: #000000;
}

.welcome::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}

.header-logo {
  width: 132px;
  margin: 32px auto;
  position: relative;
  z-index: 2;
}

.header-title {
  position: relative;
  z-index: 2;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 136px auto;
  width: 260px;
  box-sizing: border-box;
}

.subtitle {
   display: block;
   margin-top: 31px;
   padding-left: 44px;
}

.links {
    margin-top: 89px;
    margin-bottom: 84px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.google-play-svg, .apple-svg {
    width: 20px;
    height: 24px;
    margin-left: 30%;
    align-self: center;
}

.links-items {
    display: flex;
    width: 280px;
    height: 35px;
    background-color: #5e42b0;
    border-radius: 25px;
    border: none;
}

.links-items:first-child {
    margin-bottom: 15px;
}

.links-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-store-text-up,.google-play-text-up {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: regular;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 7px;
}

 .app-store-text-down , .google-play-text-down {
   font-family: Open Sans, Arial, sans-serif;
   font-weight: bold;
   font-size: 8px;
   color: #ffffff;
   text-transform: uppercase;  
   text-align: left;
   padding-left: 7px;
}

.athlets-section, .players-section {
  background-color: #ffffff;
  min-height: 306px;
}

.athlets, .players {
  position: relative;  
}

.athlets::after {
    content: url(footballer_192.png);
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 70px;
}

.players::after {
    content: url(basketballer_302.png);
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 12px;
}

.athlets-main-title, .players-main-title {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #e7e7e7;
  text-transform: uppercase; 
  padding-left: 20px;
  padding-top: 13px;
}

.connection {
    background-color: #fafafa;
    min-height: 212px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.connection-another-position {
    display: none;
}

.collaboration {
    background-color: #f5f4f9;
    min-height: 262px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.growth {
    min-height: 228px;
    background-color: #5e42b0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.athlets-title {
  padding: 60px 20px 0 20px;
  position: relative;
  display: flex;
}

.athlets-title::after {
    content: "";
    background-color: #5e42b0;
    position: absolute;
    width: 15px;
    height: 4px;
    border-radius: 25px;
    bottom: 7%;
}

.growth .athlets-title::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 15px;
    height: 4px;
    border-radius: 25px;
    bottom: 7%;  
}

.numbers {
   margin-right: 10px;
   font-family: Open Sans, Arial, sans-serif;
   font-weight: bold;
   font-size: 14px;
   color: #000000;  
}

.athlets-subtitle {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 23px;
  color: #c1c1c1;
  text-transform: uppercase;
}

.connection-paragraf,.collaboration-paragraf,.growth-paragraf {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: regular;
  font-size: 15px; 
  padding: 28px 20px 55px 20px;
}

.connection-paragraf,.collaboration-paragraf {
  color: #000000;
}

.growth-paragraf {
  color: #ffffff;
}

.active-contact-work {
  width: 320px;
}

.be-active-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.be-active-container {
  min-height: 212px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.be-active, .find-contact, .work-it {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px; 
  text-transform: uppercase;
  color: #e7e7e7;
  padding-top: 36px;
  padding-left: 20px;
}

.be-active-text, .find-contact-text,.work-it-text {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: regular;
  font-size: 16px;  
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.be-active-text {
  margin-bottom: 78px;
}

.find-contact-text {
  margin-bottom: 78px;  
}

.work-it-text {
   margin-bottom: 67px; 
}

.find-contact-container {
    min-height: 196px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.work-it-container {
    min-height: 225px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.welcome-down {
  display: flex;
  flex-wrap: wrap;
  background-image:url(game_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
  background-size: cover;
  background-color: #000000;
}

.welcome-down::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;
}

.footer-logo {
  width: 57px;
  margin: 100px auto;
  position: relative;
  z-index: 2;
  padding: 10px 8px;
  background-color: #6c4dc6;
  border-radius: 15px;
}

.footer-title {
  position: relative;
  z-index: 2;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 60px auto;
  width: 280px;
  box-sizing: border-box;
  text-align: center;
}

.footer-subtitle {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: regular;
  font-size: 14px;
  color: #9b8ec1;
  text-transform: uppercase;
  display: block;
  padding-left: 4px;
}

@media(min-width:768px) and (max-width:1023px){
    .welcome {
        background-image: url(football_1920.jpg);
    }
    .header-logo {
      width: 205px;
    }
    .header-title {
        width: 100%;
        font-size: 64px;
        margin: 178px auto;
        padding-left: 80px;
    }
    .subtitle {
        padding-left: 105px;
    }
    .links {
      margin-top: 310px;
      margin-bottom: 88px;
    }
    .links-items {
      width: 310px;
      height: 75px;
      border-radius: 35px;
    }
    .links-items:nth-child(n + 2) {
       margin-left: 30px;
    }
    .google-play-svg, .apple-svg {
       width: 44px;
       height: 42px;
       margin-left: 15%;
    }
    .app-store-text-up,.google-play-text-up {
      font-size: 14px;
      padding-left: 28px; 
    }
    .app-store-text-down,.google-play-text-down {
      font-size: 14px;
      padding-left: 28px;
    }
    .athlets-section {
      min-height: 346px;
    }
    .players-section {
      min-height: 371px; 
    }
    .athlets {
      padding-left: 293px; 
    }
    .players {
      padding-right: 307px;  
    }
    .athlets::after {
      content: url(footballer_497.png);
      top: 95px;
      left: 0;
    }
    .players::after {
       content: url(basketballer_436.png);
       top: 65px;
       left: 307px;
    }
    .athlets-main-title, .players-main-title {
      font-family: Open Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 80px;
      padding-top: 85px;
    }
    .connection {
      display: none;
    }
    
    .connection-another-position {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .be-active-container {
      min-height: 335px;
    }
    .be-active, .find-contact, .work-it {
      font-size: 80px; 
      padding-top: 90px;
      padding-left: 30px;
    }
    .be-active-text, .find-contact-text,.work-it-text {
      font-size: 24px;  
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
}


    
    
}